!!! 5
html
  head
    title Whiteboard with FabricJS
    link(rel='stylesheet', type='text/css', href='lib/css/foundation.min.css')
  body
    .row
      .large-3.columns ...
      .large-6.columns
        canvas#canvas
      .large-3.columns ...
    .row
      .large-3.columns ...
      .large-6.columns
        ul.button-group
          li
            a.tiny.button(href='#', onclick='drawEllipse()') Ellipse
          li
            a.tiny.button(href='#', onclick='drawRect()') Rectangle
          li
            a.tiny.button(href='#', onclick='drawLine()') Line
          li
            a.tiny.button(href='#', onclick='drawFreeline()') Free line
      .large-3.columns ...
    script(src='lib/js/jquery.min.js')
    script(src='lib/js/fabric.min.js')
    script(src='lib/js/wbfunctions.js')
